// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left_column {
  float: left;
  max-width: 30%;
}

.right_column {
  float: right;
  max-width: 70%;
}

.main {
  font-weight: 800;
}
.na {
  font-weight: 800;
}